<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Liste des produits</h1>
            <div class="text-end">
                <a href="/product/create" class="btn btn-primary">Ajouter un Produit</a>
            </div>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td><%= product.id %></td>
                            <td><%= product.name %></td>
                            <td><%= product.description %></td>
                            <td><%= product.category %></td>
                            <td class="text-end">
                                <a href="/product/edit/<%= product.id %>" class="btn btn-warning">Edit</a>
                                <form action="/product/delete/<%= product.id %>" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
